<div class="content-page cover-background font-content-index">
  <div class="jumbotron">
    <h1 class="tittles-pages">Bienvenido a PhoneStore</h1>
    <p>Tu Destino Digital para Dispositivos Móviles</p>
    <p>
En la era vertiginosa de la tecnología móvil, donde la innovación es constante y las tendencias
evolucionan a la velocidad de la luz, PhoneStore se enorgullece de ser tu guía confiable en este
emocionante viaje. Más que una tienda en línea, somos tu ventana a un universo vibrante de smartphones
y tablets de vanguardia.
    </p>
  </div>
  <section class="OS-phones section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="tittles-pages">Sistemas en nuestros teléfonos y tablets</p>
          <br><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="content-dest">
            <p style="font-size: 90px; text-align: center;"><i class="fa fa-apple"></i></p>
            <h3 class="text-center">iOS</h3>
            <p class="text-justify">
              iOS, desarrollado por Apple, es conocido por su elegancia y simplicidad.
              Exclusivo para dispositivos Apple, como el iPhone y iPad, iOS ofrece un entorno controlado
              y fluido. La integración sin fisuras entre hardware y software es una de sus características
              distintivas.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="content-dest">
            <p style="font-size: 90px; text-align: center;"><i class="fa fa-windows"></i></p>
            <h3 class="text-center">Windows Phone</h3>
            <p class="text-justify">
              Aunque ya no se desarrolla activamente, Windows Phone de Microsoft presentaba una interfaz única
              y fluida. Su enfoque en la integración con servicios de Microsoft ofrecía una experiencia coherente.
              A pesar de su descontinuación, dejó un impacto en el diseño de interfaces móviles.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="content-dest">
            <p style="font-size: 90px; text-align: center;"><i class="fa fa-android"></i></p>
            <h3 class="text-center">Android</h3>
            <p class="text-justify">Android, el sistema operativo móvil de Google, destaca por su
              versatilidad y personalización. Ofrece una amplia gama de dispositivos y una interfaz
              intuitiva. Su ecosistema abierto permite a los usuarios adaptar sus experiencias según
              sus preferencias.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news-promo-content section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="tittles-pages">Novedades y productos</p>
          <br><br><br>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 text-center">
            <div class="content-dest">
              <img src="/assets/img/home-news.png" alt="news-icon" class="img-responsive center-box-content">
              <h3>Noticias</h3>
              <p>
                Sumérgete en el emocionante mundo de las noticias de celulares.
                Desde los lanzamientos más recientes hasta las filtraciones más intrigantes,
                mantente actualizado con todo lo relacionado con la evolución de los dispositivos móviles.
              </p>
              <a routerLink="/pages/noticias" class="btn btn-success">Más información</a>
              <hr class="visible-xs">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 text-center">
            <div class="content-dest">
              <img src="/assets/img/home-promo.png" alt="promo-icon" class="img-responsive center-box-content">
              <h3>Promociones</h3>
              <p>
                No te pierdas las oportunidades de ahorro. Explora nuestras promociones exclusivas
                 en dispositivos móviles, accesorios y servicios. Mantente al tanto de las ofertas
                 limitadas y descuentos especiales para hacer de tu experiencia de compra algo
                 extraordinario.
              </p>
              <a routerLink="/pages/products"class="btn btn-success">Más información</a>
              <hr class="visible-xs">
            </div>
          </div>

        </div>


        <div class="col-xs-12 col-sm-6 text-center">
          <div class="content-dest">
            <img src="/assets/img/home-phones.png" alt="phone-icon" class="img-responsive center-box-content">
            <h3>Teléfonos</h3>
            <p>
              Suma a tu conocimiento sobre smartphones. Descubre análisis en profundidad,
               comparaciones detalladas y recomendaciones personalizadas para que encuentres el teléfono
               ideal que se ajuste a tus preferencias y presupuesto.
            </p>
            <a routerLink="/pages/products" class="btn btn-success">Más información</a>
            <hr class="visible-xs">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 text-center">
          <div class="content-dest">
            <img src="/assets/img/home-plans.png" alt="plans-icon" class="img-responsive center-box-content">
            <h3>Planes y precios</h3>
            <p>
              Encuentra la oferta perfecta para tu estilo de vida. Explora nuestras detalladas guías
              sobre planes y precios de diferentes operadores. Desde datos ilimitados hasta ofertas
              exclusivas, te ayudaremos a elegir el plan que se adapte a tus necesidades.
            </p>
            <a routerLink="/pages/products" class="btn btn-success">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
