<div class="content-page cover-background font-content-news">
  <div class="jumbotron">
    <h1 class="tittles-pages">Noticias PhoneStore</h1>
    <p>
      En el vertiginoso mundo de la tecnología móvil, mantenerse al día con las últimas novedades
      y avances es esencial. En PhoneStore, no solo nos apasiona ofrecerte los dispositivos
      móviles más avanzados, sino que también queremos mantenerte informado sobre las noticias
      más recientes, análisis profundos y tendencias emocionantes del universo de los smartphones
      y tablets.
  </div>
  <section class="all-news-contents section">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-push-4">
                  <h2 class="tittles-pages text-center">Lo nuevo de Microsoft (Windows Mobile)</h2>
                  <p class="lead">
                    Windows Phone SDK 8.0 es un completo entorno de desarrollo que puede usar para crear
                    aplicaciones y juegos para Windows Phone 8.0 y Windows Phone 7.5. Windows Phone SDK
                    dispone de una edición independiente de Visual Studio Express 2012 para Windows Phone
                    o puede funcionar como complemento de Visual Studio 2012 Professional, Premium o
                    Ultimate. Con el SDK, puede usar sus conocimientos de programación y el código que
                    ya tiene para generar aplicaciones administradas o con código nativo. Asimismo,
                    el SDK contiene varios emuladores y herramientas adicionales para generar perfiles
                    y probar la aplicación de Windows Phone en condiciones reales.
                  </p>
              </div>
              <div class="col-xs-12 col-sm-4 col-sm-pull-8">
                  <img src="assets/img/news-windows-phone.jpg" alt="windows-phone" class="img-responsive img-rounded center-box-content">
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-xs-12 col-sm-8">
                  <h2 class="tittles-pages text-center">Lo nuevo de Google (Android 14 )</h2>
                  <p class="lead">
                    La versión final y estable de Android 14 está entre nosotros desde hace unos meses
                    y poco a poco va llegando a los primeros móviles en forma de actualización.
                    El sucesor de Android 13 da un tímido salto adelante en funciones y en mejoras
                    de la interfaz sin que incluya cambios de enorme calado. Ahora sólo queda que
                    los fabricantes adapten Android 14 a sus dispositivos para que vayan actualizando
                    los distintos móviles y tablets.
                  </p>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <img src="assets/img/news-android.jpg" alt="Android" class="img-responsive img-rounded center-box-content">
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-push-4">
                  <h2 class="tittles-pages text-center">Lo nuevo de Apple (iOS 17)</h2>
                  <p class="lead">
                    Tras un año con iOS 16 en nuestros iPhone, iOS 17 está ya disponible. Se trata de la
                    nueva gran actualización del sistema de Apple que fue presentada en la WWDC 2023 y
                    que se lanzó el pasado mes de septiembre.
                    Se trata de una actualización que, sin ser revolucionaria, viene repleta con
                    cambios interesantes. En este post repasamos todas las novedades de iOS 17,
                    modelos de iPhone compatibles y más para que estés al tanto de todo.
              </div>
              <div class="col-xs-12 col-sm-4 col-sm-pull-8">
                  <img src="assets/img/news-iOS.jpg" alt="iOS" class="img-responsive img-rounded center-box-content">
              </div>
          </div>
          <div class="row"><!-- Paginacion noticias -->
              <div class="col-xs-12 text-center">
                  <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
</div>
