
<div class="content-page cover-background font-content-services">
  <section class="all-services section">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-center">
                  <h2 class="tittles-pages">Acerca de PhoneStore</h2>
                  <i class="fa fa-tablet fa-5x"></i> &nbsp; <i class="fa fa-mobile fa-5x"></i>
                  <p>Descubre una Experiencia Integral con Nuestros Servicios:</p>
                  <p class="lead">
                    En PhoneStore, nos enorgullece ofrecerte mucho más que productos excepcionales.
                    Nuestra página de servicios es el epicentro de una experiencia integral.
                    Aquí, nos esforzamos por brindarte soluciones personalizadas,
                    atención al cliente excepcional y conveniencias que hacen que cada interacción
                    con nosotros sea única y gratificante.
                  </p>
                  <p class="lead">
                    Explora un conjunto diverso de servicios que van más allá de la venta de dispositivos
                     móviles. Desde proporcionar soluciones especializadas para negocios hasta ofrecer
                     asistencia técnica confiable, nuestro compromiso es asegurarnos de que encuentres todo
                     lo que necesitas en un solo lugar. Contáctanos, descubre nuestros servicios, y
                     permítenos facilitarte el acceso a la mejor tecnología de manera cómoda y
                     personalizada. En [Nombre de la Tienda], no solo nos preocupamos por lo que vendemos,
                     sino por cómo enriquecemos tu vida digital con servicios que hacen la diferencia.
                  </p>
              </div>
              <div class="col-xs-12">
                  <h2 class="text-center tittles-pages">Nuestros Servicios</h2>
                  <div class="principal-container-services">
                      <a routerLink="/pages/products">
                          <p class="icon-service"><i class="fa fa-briefcase"></i></p>
                          <p class="tittle-service">Negocios</p>
                          <p class="description-service">
                            Ofrecemos soluciones personalizadas para empresas. Desde dispositivos móviles hasta planes
                            corporativos, estamos comprometidos a impulsar el éxito de tu negocio con tecnología de
                            vanguardia.
                          </p>
                      </a>
                      <a routerLink="/pages/contactenos">
                          <p class="icon-service"><i class="fa fa-envelope"></i></p>
                          <p class="tittle-service">Contactenos</p>
                          <p class="description-service">
                            Nos importa tu opinión y estamos aquí para ayudarte. Utiliza nuestro servicio
                            de contacto para consultas, sugerencias o asistencia. Nuestro equipo dedicado
                            responderá rápidamente para brindarte la atención que mereces.
                          </p>
                      </a>
                      <a routerLink="/pages/contactenos">
                          <p class="icon-service"><i class="fa fa-wrench"></i></p>
                          <p class="tittle-service">Servicio Tecnico</p>
                          <p class="description-service">
                            ¿Problemas con tu dispositivo? Confía en nuestro servicio técnico especializado.
                            Nuestros expertos resolverán cualquier inconveniente para que vuelvas a disfrutar plenamente
                            de tu tecnología.
                          </p>
                      </a>
                      <a routerLink="/pages/contactenos">
                          <p class="icon-service"><i class="fa fa-truck"></i></p>
                          <p class="tittle-service">Entregas</p>
                          <p class="description-service">
                            ¿Problemas con tu dispositivo? Confía en nuestro servicio técnico especializado.
                            Nuestros expertos resolverán cualquier inconveniente para que vuelvas a disfrutar
                            plenamente de tu tecnología.
                          </p>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
