<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand" routerLink="/">
      <div class="logo tittles-pages">
        Cell Tech Store
      </div>
    </a>
    <!-- Hamburger button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation items a la derecha -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/pages/login" *ngIf="!isLogged"><i class="fa fa-user"></i> Ingresar</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/" *ngIf="isLogged" (click)="logOut()"><i class="fa fa-sign-out"></i> Salir</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages/products">Productos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages/noticias">Noticias</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages/servicios">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages/contactenos"></a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pages/order">Pedidos</a></li>
        <button routerLink="/pages/carrito/" class="cart-btn bg-dark ">
          <i class="fa fa-shopping-cart fa-inverse" aria-hidden="true"></i>
          <span class="cart-item-count ml-1" style="color: white;">{{ cartService.getCartItems().length }}</span>
        </button>
      </ul>
    </div>
  </div>
</nav>


